[Desktop Entry]
Encoding=UTF-8
Name=Link to   Mempelai Wanita
Type=Link
URL=file:///home/dian/Desktop/YBM%20PLN/Rumah%20Cahaya%20IT/Undangan/Undangan-Digital/mempelai_wanita.html
Icon=text-html
