#click {
    display: none;
}

.label-box {
    position: fixed;
    right: 28px;
    bottom: 18px;
    height: 53px;
    width: 53px;
    background: -webkit-linear-gradient(left, #29B53F, #52CE5F);
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1031;
    transition: transform .2s;
}

.icon-chatbox {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease;
    }

.label-box:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

@media (max-width: 576px) {
    .label-box {
        right: 25px;
        bottom: 20px;
        height: 45px;
        width: 45px;
    }

    .icon-chatbox {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease;
    }
}