*{
    font-family: 'Poppins', pacifico;
}

body{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(246, 238, 242, 1));
}

.bg-default{
    background-color: #FDEFF4;
}

.bg-default-2{
    background-color: #EDC4D8;
}

.bg-default-3{
    background-color: #DA036A;
}

.border-pink{
    border-style: solid;
    border-color: #C5789D;
}

.cr-default{
    color: #DA036A;
}

.font-semibold{
    font-weight: 500;
}

.font-400{
    font-weight: 500;
}

.text-default{
    color: #262222;
}

.p-left{
    padding-left:30px;
}

.width-icon{
    width: 264px;
}

.btn-default{
    background-color: #C5789D;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    pacity: 0.6;
    transition: 0.5s;
    font-weight: 500;
    border: none;
}

.btn-default:hover{
    background-color: #DA036A;
    color: #ffffff;
}

.btn-default-2{
    background-color: #262222;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    pacity: 0.6;
    transition: 0.5s;
    font-weight: 500;
    border: none;
}

.btn-default-2:hover{
    background-color: #3D3737;
    color: #ffffff;
}

.mt-150{
    margin-top: 150px;
}

.mt-100{
    margin-top: 100px;
}

.mt-55{
    margin-top: 5rem;
}

.mt-no-1{
    margin-top: 0.3rem;
}

.py-60{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pe-40{
    padding-right: 40px;
}

.ps-20{
    padding-left: 20px;
}

.pt-60{
    padding-top: 4rem;
}

.mt-c-circle{
    margin-top: 1rem;
    color: #fff;
}

.mt-icon-pink{
    margin-top: 0.7rem;
    color: #DA036A;
}

.mt-n-1{
    margin-top: -10px;
}

.fs-55{
    font-size: 55px;
    font-weight: bold;
}

.fs-40{
    font-size: 40px;
}

.fs-36{
    font-size: 36px;
}

.fs-24{
    font-size: 24px;
}

.fs-21{
    font-size: 21px;
}

.fs-20{
    font-size: 20px;
}

.fs-18{
    font-size: 18px;
}

.fs-16{
    font-size: 16px;
}

.fs-14{
    font-size: 13px;
}

.circle-1{
    width: 3.6em;
    height: 3.6em;
    background: #C5789D;
    border-radius: 100%;
}

.circle-2{
    max-width: 4em;
    height: 3em;
    background: #fff;
    border-radius: 15%;
    margin-top: 12px;
}

.circle-3{
    width: 1.5em;
    height: 1.5em;
    background: #DA036A;
    border-radius: 100%;
}

.no-plaform-1{
    width: 24px;
}

.sosmed-1{
    margin-top: 3px;
}

.accordion-button:not(.collapsed) {
    color: #262222;
    background-color: #FDEFF4;
}

.image-1{
    float: right;
}

.ps-muy{
    padding-left: 40px;
}

@media (max-width: 1400px) {
    .fs-18{
        font-size: 16px;
    }

    .mt-c-circle{
        margin-top: 0.8rem;
    }

    .circle-2{
        margin-top: 16px;
    }

    .mt-icon-pink{
        margin-top: 0.5rem;
    }

    .fs-20{
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .fs-55{
        font-size: 40px;
    }

    .fs-40{
        font-size: 28px;
    }

    .fs-36{
        font-size: 30px;
    }

    .fs-24{
        font-size: 20px;
    }

    .fs-21{
        font-size: 18px;
    }

    .fs-20{
        font-size: 16px;
    }

    .fs-18{
        font-size: 16px;
    }

    .fs-16{
        font-size: 14px;
    }

    .image-1{
        width: 430px;
    }

    .mt-150{
        margin-top: 100px;
    }

    .mt-100{
        margin-top: 70px;
    }

    .ps-20{
        padding-left: 25px;
    }

    .no-plaform-1{
        width: 20px;
        margin-top: -2px;
    }

    .circle-2{
        max-width: 3.7em;
        height: 2.7em;
        margin-top: 8px;
    }

    .mt-icon-pink{
        margin-top: 0.4rem;
    }

    .w-image-tema{
        width: 290px;
    }

    .btn-default{
        font-size: 14px;
    }

    .btn-default-2{
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .width-icon{
        width: 200px;
    }

    .fs-55{
        font-size: 34px;
    }

    .fs-40{
        font-size: 26px;
    }

    .fs-36{
        font-size: 30px;
    }

    .fs-24{
        font-size: 18px;
    }

    .fs-21{
        font-size: 16px;
    }

    .fs-20{
        font-size: 14px;
    }

    .fs-18-mu{
        font-size: 14px;
    }

    .fs-16{
        font-size: 12px;
    }

    .image-1{
        margin-top: 50px;
        width: 300px;
    }

    .mt-150{
        margin-top: 80px;
    }

    .mt-100{
        margin-top: 70px;
    }

    .ps-20{
        padding-left: 25px;
    }

    .no-plaform-1{
        width: 18px;
        margin-top: -2px;
    }

    .circle-2{
        max-width: 3.7em;
        height: 2.7em;
        margin-top: 8px;
    }

    .mt-icon-pink{
        margin-top: 0.4rem;
    }

    .w-image-tema{
        width: 290px;
    }

    .btn-default{
        font-size: 12px;
    }

    .btn-default-2{
        font-size: 12px;
    }

    .circle-1{
        width: 2.6em;
        height: 2.6em;
    }

    .mt-c-circle{
        margin-top: 0.3rem;
    }

    .mu-icon{
        width: 22px;
    }
}

@media (max-width: 768px) {
    .w-image-tema{
        width: 300px;
    }

    .image-1{
        margin-top: 50px;
        width: 290px;
    }

    .fs-55{
        font-size: 30px;
    }

    .fs-36{
        font-size: 22px;
    }

    .fs-21{
        font-size: 15px;
    }

    .mt-150{
        margin-top: 60px;
    }

    .fs-20{
        font-size: 12px;
    }

    .mt-icon-pink{
        margin-top: 0rem;
    }

    .circle-2{
        max-width: 3em;
        height: 2em;
        margin-top: 8px;
    }

    .icon-udas{
        width: 24px;
    }
}

@media (max-width: 576px) {
    .pe-40{
        padding-right: 0px;
    }

    .image-1{
        float: none;
        margin-top: 10px;
        margin-bottom: 40px;
        width: 300px;
    }

    .mt-55{
        margin-top: 2rem;
    }

    .w-image-tema{
        width: 220px;
    }

    .ps-20{
        padding-left: 5px;
    }

    .ps-muy{
        padding-left: 0px;
    }

}

@media (min-width: 325px) and (max-width: 469px) {
    .ps-muy{
        padding-left: 10px;
    }

    .mt-n-1{
        margin-top: 0px;
    }

    .w-image-tema{
        width: 100%;
    }

    .fs-40 {
        font-size: 32px;
    }

    .ps-20 {
        padding-left: 20px;
    }
}

@media (min-width: 200px) and (max-width: 324px) {
    .ps-muy{
        padding-left: 10px;
    }

    .mt-n-1{
        margin-top: 0px;
    }

    .w-image-tema{
        width: 100%;
    }

    .fs-40 {
        font-size: 32px;
    }

    .ps-20 {
        padding-left: 20px;
    }
}
